body{
    background-color: rgb(201, 204, 173);
}
main{
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
    font-family: Optima, sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "h h"
    "a n"
    "f f"
}
header{
    grid-area: h;
}
article{
    grid-area: a;
}
nav{
    grid-area: n;
}
footer{
    grid-area: f;
}

#wrapper{
    width: 50%;
    margin: auto;
    background-color: white;
}

h1{
    text-align: center;
    color: rgb(36, 82, 40);
    padding: 20px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(238, 243, 239);
    font-weight: bold;
    text-decoration: none;
}
li{
    background-color: rgb(36, 82, 40);
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}
ul{
    padding: 0 20px 0 20px;
    list-style: none;
}

table{
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto 20px auto;
    background-color: rgb(104, 128, 104);
    color: rgb(57, 77, 57);
}
caption{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
tr{
    border-bottom: 1px solid grey;
    padding: 3px;
}
th{
    height: 50px;
    vertical-align: middle;
    text-align: left;
    
    background-color: rgb(179, 202, 192);
}
td{
    text-align: middle;
    padding-right: 5px;
    color: rgb(57, 77, 57);
}
tr:nth-child(odd){
    background-color: #eee;
}
tr:hover{
    background-color: rgb(214, 201, 193);
}
td:nth-child(1), td:nth-child(2){
    color: darkslategray;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
}
td:nth-child(2), th:nth-child(2){
    border-right: 1px solid grey;
}
#hosszabb{
    height: 50%;
    width: 70%;
    margin: auto;
    background-color: white;
}
footer{
    padding-top: 5px;
    font-family: Optima, sans-serif;
    color: darkslategray;
}

img{
    width: 40vh;
    margin: 8px;
}

@media screen and (max-width: 700px) {
    
    main{
    grid-template-columns: 1fr;
    grid-template-areas: 
        "h"
        "n"
        "a"
        "f";
    }
  }

